# system
.vscode
.DS_Store

# data
data-*
outputs/
docs-private/
shared/
all-images*/
docs/coco/*predictions*
docs/skeleton_posetrack.png
docs/skeleton_tracking.png
docs/skeleton_tracking_forward.png
docs/coco_skeleton_forward.png

# Python
.ipynb_checkpoints/
*.pyc
venv*/
*.egg-info/
dist/
__pycache__/
